# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# build output
dist/
build/

# prisma
apps/backend/prisma/*.db

# logs
npm-debug.log*
*.log

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# typescript incremental build info
*.tsbuildinfo
